:root {
    --singleCell: calc(100% / 28);
    --borderGrey: 1px solid var(--light-grey);
    --white-grey: #f6f6f6;
    --ligth-light-grey: lightgrey;
    --light-grey: #bfbfbf;
    --grey: grey;
    --dark-grey: darkgrey;
    --dark-dark-grey: #959595;
}

.App {
    padding: 5%;
    color: var(--grey);
    font-weight: 500;
}

.header-cell {
    display: none;
}

.header-cell:nth-child(3n) {
    display: inline-block;
    width: calc(var(--singleCell) * 3);
    border-left: none;
    color: var(--grey);
}

.header-cell:before {
    visibility: visible;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 60%;
    border-left: var(--borderGrey);
}

.row {
    display: flex;
    flex-direction: row;
    max-width: 800px;
}

.cell {
    position: relative;
    width: var(--singleCell);
    height: 60px;
    border-bottom: var(--borderGrey);
    border-left: var(--borderGrey);
    transition: all 0.1s;
}

.cell:last-of-type {
    border-right: var(--borderGrey);
}

.double-cell {
    width: calc(var(--singleCell) * 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > .double-cell {
    border-left: none;
}

.all-cell {
    background-color: var(--dark-grey);
    border-bottom: 1px solid var(--white-grey);
    cursor: pointer;
}

.all-cell:hover {
    background-color: var(--dark-dark-grey);
}

.selected {
    background-color: var(--ligth-light-grey);
}

.selected:hover {
    background-color: var(--light-grey);
}

.unselected:hover {
    background-color: var(--white-grey);

}

.button-group {
    display: flex;
    justify-content: flex-end;
    max-width: 800px;
}

button {
    width: 170px;
    padding: 15px;
    margin: 35px 0 35px 35px;
    background-color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    transition: all 0.2s;
    box-shadow: 1px 1px 3px 1.5px rgba(50, 50, 50, 0.2)
}

button:active {
    transform: translateY(1px);
    box-shadow: none;
}

button:hover {
    background-color: var(--dark-dark-grey);
}

.reminder{
    color: green;
    font-weight: 400;
}